opencv-python
streamlit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
keras
Keras-Applications
keras-nightly
Keras-Preprocessing
tf-estimator-nightly
tf-nightly
tb-nightly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
numpy
